@import './src/assets/css/base.css';
@import './src/assets/css/responsiveness.css';

main {
  & .filters {
    gap: 40px;
    padding: 40px var(--p);

    &>div {
      background: var(--bg-sec-color);
      border-radius: 8px;
    }

    & .field {
      flex: 1;
      gap: 20px;
      padding: 10px 30px;
      max-width: 500px;

      & input {
        flex: 1;
        border: none;
        padding: 10px 0;
        color: inherit;
        font-size: inherit;
        background: transparent;

        &:focus {
          outline: none;
        }
      }
    }

    & .select {
      position: relative;

      & .select-trigger {
        gap: 50px;
        cursor: pointer;
        font-size: inherit;
        color: inherit;
        padding: 18px 20px;
        border-radius: 8px;
      }

      & .select-options {
        position: absolute;
        width: 100%;
        left: 0;
        border-radius: 8px;
        background: inherit;
        z-index: 1;
        padding: 18px;
        gap: 10px;
        transition: top 400ms ease-in-out;
        top: calc(100% + 5px);

        & .select-option {
          font-size: inherit;
          color: inherit;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  & .countries-container {
    margin-top: 30px;

    & .country-list {
      margin: 0 var(--p);
      justify-content: space-evenly;
      gap: 40px;

      & > li {
        background: var(--bg-sec-color);
        border-radius: 8px;
        width: 285px;

        & a {
          color: inherit;
          font-size: inherit;

          &>div {
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;

            & img {
              border-radius: 8px 8px 0 0;
            }

            & h3 {
              padding: 20px 25px;
            }

            & > ul {
              gap: 7px;
              padding: 0 25px;

              & li {
                & span:last-child {
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
    }
  }
}
